<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GalacticUniversity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Body.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rocket.css" />
    <!-- Font Awesome for Rocket Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512 SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <header>
        <nav class="menu">
            <a asp-controller="Home" asp-action="Index" class="link">
                <span class="link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M213.3815,109.61945,133.376,36.88436a8,8,0,0,0-10.76339.00036l-79.9945,72.73477A8,8,0,0,0,40,115.53855V208a8,8,0,0,0,8,8H208a8,8,0,0,0,8-8V115.53887A8,8,0,0,0,213.3815,109.61945Z" />
                    </svg>
                </span>
                <span class="link-title">Home</span>
            </a>
            <a asp-controller="Course" asp-action="Index" class="link">
                <span class="link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256">
                        <polyline points="76.201 132.201 152.201 40.201 216 40 215.799 103.799 123.799 179.799" />
                    </svg>
                </span>
                <span class="link-title">Courses</span>
            </a>
            <a asp-controller="Lecture" asp-action="Index" class="link">
                <span class="link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M45.42853,176.99811A95.95978,95.95978,0,1,1,79.00228,210.5717l.00023-.001L45.84594,220.044a8,8,0,0,1-9.89-9.89l9.47331-33.15657Z" />
                    </svg>
                </span>
                <span class="link-title">Lectures</span>
            </a>
            <a asp-controller="LectureResource" asp-action="Index" class="link">
                <span class="link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256">
                        <circle cx="116" cy="116" r="84" />
                    </svg>
                </span>
                <span class="link-title">Resources</span>
            </a>
        </nav>
    </header>

    <!-- Rocket HTML with Font Awesome Icon -->
    <div class="rocket">
        <div class="dot">
            <i class="fas fa-rocket"></i>
        </div>
        <div class="dot">
            <i class="fas fa-cloud" style="--i:0;"></i>
            <i class="fas fa-cloud" style="--i:1;"></i>
            <i class="fas fa-cloud" style="--i:2;"></i>
            <i class="fas fa-cloud" style="--i:3;"></i>
            <i class="fas fa-cloud" style="--i:4;"></i>
            <i class="fas fa-cloud" style="--i:5;"></i>
        </div>
    </div>


  

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GalacticUniversity - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/rocket.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
