@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<!-- Background Stars (covers entire viewport) -->
<section class="bg-stars">
    <span class="star"></span>
    <span class="star"></span>
    <span class="star"></span>
    <span class="star"></span>
</section>

<div class="form-container">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" class="form" method="post">
            <div class="form-title">
                <span>Sign up to your</span>
            </div>
            <div class="title-2">
                <span>SPACE</span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-container">
                <input asp-for="Input.Email" class="input-pwd form-control" type="email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-container">
                <input asp-for="Input.Password" class="input-pwd form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-container">
                <input asp-for="Input.ConfirmPassword" class="input-pwd form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="confirm password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="input-container">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                    <option disabled selected>-Select Role-</option>
                </select>
            </div>
            <button id="registerSubmit" type="submit" class="submit">
                <span class="sign-text">Register</span>
            </button>
            <p class="signup-link">
                Already have an account? <a href="/Account/Login">Sign in</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
