@model GalacticUniversity.Models.LectureResource

<form method="post">
	<label asp-for="ResourceType">
		<input type="text" asp-for="ResourceType" />
	</label>
	<br />
	<label asp-for="ResourcePath">
		<input type="text" asp-for=ResourcePath />
	</label>
	<label>Lection
			<select asp-for="LectureID" asp-items="ViewBag.Lectures">
				<option value="">Choose a lection</option>
			</select>
	</label>
	<button type="submit" asp-action="Add" asp-controller="LectureResource">Add Lecture</button>
</form>