@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<GalacticUniversity.Models.LectureResource>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">ResourceType</th>
			<th scope="col">ResourcePath</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@item.ResourceID</th>
				<td>@item.ResourceID</td>
				<td>
					<a type="submit" class="btn btn-primary" asp-action="Edit" asp-controller="Category" asp-route-id="@item.ResourceID">Edit</a>

					<form asp-action="Delete" asp-controller="Category" asp-route-id="@item.ResourceID" method="post" style="display:inline;">
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
			</tr>
		}


	</tbody>
</table>