@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<section>
    <div class="title-container">
        <h1>Открий чудесата на космоса</h1>
        <div class="title-description">
            Влез в света на астрономията, астрологията и физиката. Научи повече за Вселената и всичко, което тя крие.
        </div>
        <div class="primary-button">
            <a class="styled-button" asp-action="Index" asp-controller="Course">Започни</a>
        </div>
    </div>

  

    <div class="rocket">
        <!-- Clouds Behind Rocket -->
        <div class="clouds behind" style="z-index: 1">
            <i class="fas fa-cloud" style="left:61%; top:25%"></i>
            <i class="fas fa-cloud" style="left:9%; top:75%"></i>
        </div>

        <!-- Rocket Icon -->
        <div class="dot" style="z-index: 2">
            <i class="fas fa-rocket"></i>
        </div>

        <!-- Clouds In Front of Rocket -->
        <div class="clouds front" style="z-index: 3">
            <i class="fas fa-cloud fa-cloud-front" style="left:50%; top:50%"></i>
            <i class="fas fa-cloud fa-cloud-front" style="left:9%; top:50%"></i>
        </div>
    </div>
</section>
<section>
     
    <div class="choose-us-title">
        Защо нас?
    </div>
   
</div> 
</section>
