/* General Styles */
body {
    background: linear-gradient(to bottom, #E6D0F2, #FFFFFF);
    background-repeat:no-repeat;
    color: black;
    font-family: Arial, sans-serif;
    position: relative;
}

section {
    position: relative;
    height: 100vh !important;
}

section > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/* Rocket Container */
.rocket {
    /*    position: fixed;*/
    /*    top: 20%;*/
    right: 0%;
    width: 400px;
    height: 400px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


    /* Rocket Icon */
    .rocket .dot i.fas.fa-rocket {
        font-size: 400px;
        color: white;
        -webkit-text-stroke: 3px black;
        position: relative;
        z-index: 2;
        animation: rocket 0.2s linear infinite;
    }

    /*
/* Clouds Wrapper */
/*.clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}*/

    /* Clouds Behind Rocket */
    /*.clouds.behind {
        z-index: 1;
    }*/

    /* Clouds In Front of Rocket */
    /*.clouds.front {
        z-index: 3;
    }*/

    /* Cloud Styles */
    /*.clouds .fa-cloud {
        position: absolute;
        font-size: 6em;
        color: #73d7f575;
        -webkit-text-stroke: 2px black;
        opacity: 0;
        left: calc(10% + (Math.random() * 60%));*/ /* Random horizontal position */
        /*animation: cloud-fall 8s linear infinite;
    }*/
    /* Cloud Styles */
    /*.clouds .fa-cloud-front {
        position: absolute;
        font-size: 6em;
        color: #a9dbeb99;
        -webkit-text-stroke: 2px black;
        opacity: 0;
        left: calc(10% + (Math.random() * 60%));*/ /* Random horizontal position */
        /*animation: cloud-fall-front 4s linear infinite;
    }*/

    /* Ensure random spacing between clouds */
    /*.clouds .fa-cloud:nth-child(odd) {
        animation-delay: 0s;
        transform: translateX(calc((Math.random() - 0.5) * 200px));*/ /* Random offset */
    /*}

    .clouds .fa-cloud:nth-child(even) {
        animation-delay: 3s;
        transform: translateX(calc((Math.random() - 0.5) * 200px));*/ /* Different random offset */
    /*}*/

/* Falling Animation */
@keyframes cloud-fall {
    0% {
        top: -10%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 110%;
        opacity: 0;
    }
}

/* Falling Animation */
@keyframes cloud-fall-front {
    0% {
        top: -20%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        top: 65%;
        opacity: 1;
    }

    100% {
        top: 120%;
        opacity: 0;
    }
}
@keyframes rocket {
    0%,100% {
        transform: translate(0px,0px) rotate(-45deg);
    }

    50% {
        transform: translate(0px,3px) rotate(-45deg);
    }
}