@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model GalacticUniversity.Models.Course

<form method="post">
    <label asp-for="CourseName">
        <input type="text" asp-for="CourseName" />
    </label>
    <label asp-for="Description">
        <input type="text" asp-for="Description" />
    </label>
    <label asp-for="StartDate">
        <input type="datetime-local"/>
    </label>
    <label asp-for="EndDate">
        <input asp-for="EndDate" />
    </label>
    <label>Choose Category
        <select asp-for="CategoryID" asp-items="ViewBag.Categories">
            <option value="">Choose Category</option>
        </select>
    </label>
    <button type="submit" asp-action="Add" asp-controller="Course">Add Course</button>
    
</form>


